.App {
  text-align: center;
}

body{
  background-color: rgb(217, 231, 241);
}
.info{
  margin-left: 26%;
  
}
h2{
  padding: 10px;
  background: dodgerblue;
  width: 12%;
  color: white;
  text-align: center;
}
.sub-btn{
  padding: 10px 50px 10px 50px;
  font-size: 24px;
  color: white;
  background: dodgerblue;
  margin-left: -15%;
  margin-top: 20px;
}
.view-btn{
  padding: 10px 50px 10px 50px;
  font-size: 24px;
  color: white;
  background: dodgerblue;
  margin-left: 8%;
  margin-top: 20px;
}



.input{
    margin-left: -23%;
    margin-top: -21%;
}
.date{
  padding: 6px 40px 6px 40px;
  font-size: 24px;
  margin-top: 20px;
  margin-left: -69px;
}

input{
  padding: 8px 40px 8px 40px;
  font-size: 24px;
  margin-top: 20px;
}

.container{
  border: 2px solid black;
  margin-left: 10%;
  padding: 10px;
  margin-right: 10%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.heading{
  border: 2px solid black;
  width: 65%;
  margin-left: 18%;
  margin-top: 50px;
}